body{
  margin: 0px;
}
.extension{
    display: grid;
    grid-template-columns: repeat(10, 45px);
    grid-template-rows: repeat(12, 45px);
  }
  #folders{
    grid-column: 1 / -1;
    grid-row: span 4;
    background: #1b1b1d;
    padding: 3px 5px 10px 5px;
    overflow-y: auto;
  }
  .folder{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    width: fit-content;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #fe8f74;
    font-family: 'Roboto', sans-serif;
  }
  #All{
    font-weight: bold;
  }
  .folder:hover {
    background: #3bddc6;
  }
  #lblFolderName{
    font-family: 'Roboto', sans-serif;
    display: inline;
    padding-bottom: 25px;
    padding-left: 10px;
    grid-column: 1 / span 7;
  }
  #lblPages {
    font-family: 'Roboto', sans-serif;
    grid-column: 8 / span 2;
    padding-top: 20px;
    text-align: right;
  }
  #nextPrevContainer{
    grid-column: 10 / span 1;
  }
  #btnPrevious {
    padding-top: 18px;
    padding-left: 3px;
  }
  #btnNext {
    padding-top: 18px;
  }
  #posts{
    grid-column: 1 / -1;
    background: white;
    padding: 3px 25px 10px 25px;
    grid-row: span 6;
    overflow-y: auto;
  }
  .post:hover {
      display: inline-block;
  } 
  a{
    font-family: 'Roboto', sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .footer{
    grid-column: 1 / -1;
    background: #abb1b5;
    grid-row: span 1;
  }
  #lblLastSynced, #lblLogin{
    padding: 2px 5px 2px 5px;
    float: left;
    margin-top: 7px;
    margin-left: 2px; 
    font-family: 'Roboto', sans-serif;
  }
  #lastSyncedVal{
    padding: 2px 5px 2px 5px;
    margin-top: 7px;
    float: left;
    font-family: 'Roboto', sans-serif;
  }
  #btnSync{
    padding: 2px 5px 2px 5px;
    float: right;
    margin-top: 5px;
    margin-right: 2px; 
  }
  #btnPrevious:focus, #btnNext:focus, #btnSync:focus {
    outline: none;
  }
  .hide{
    display: none;
  }
  .show{
    display: inline;
  }
  .spin {
    animation:spin 1s linear infinite;
  }
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }